<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add Question - Quiz Master</title>
<link rel="stylesheet" href="/add-question.css">
</head>
<body>
  <div class="form-box">
    <h2>Add Question</h2>
    <form th:action="@{/admin/Add-question(quizId=${quizId})}" th:object="${question}" method="post">
      <input type="text" th:field="*{questionText}" placeholder="Enter Question" required />
      <input type="text" th:field="*{optionA}" placeholder="Option A" required />
      <input type="text" th:field="*{optionB}" placeholder="Option B" required />
      <input type="text" th:field="*{optionC}" placeholder="Option C" required />
      <input type="text" th:field="*{optionD}" placeholder="Option D" required />
      <input type="text" th:field="*{correctAnswer}" placeholder="Correct Answer" required />
      <button type="submit">➕ Add Question</button>
    </form>
  </div>
</body>
</html>
